.container-fluid {
	background: linear-gradient(#800080,#4d004d);
	height: 100vh;
}

#headapp {
	position: absolute;
	top: 10%;
  	left: 50%;
  	transform: translate(-50%, -50%);
	color: lightpink;
  	font-family: serif;
}

#titleapp {
	position: absolute;
	top: 20%;
  	left: 50%;
  	transform: translate(-50%, -50%);
  	font-family: serif;
  	color: lightpink;
}


